* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.row {
  display: flex;
  gap: 10px;
}

.col {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container {
  width: 900px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  margin: 0 auto;

  & .header {
    display: flex;
    border-bottom: 1px dotted black;

    & .navbar {
      display: flex;
      flex-direction: column;

      & .menu {
        display: flex;
        width: 100%;
        border-bottom: 1px solid black;
        & .option {
          width: 20%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          border-right: 1px dotted black;
          background-color: rgb(218, 218, 218);
          cursor: pointer;
          text-decoration: none;
          color: black;
        }

        & .option:visited {
          color: black;
        }

        & .option:last-child {
          border-right: none;
        }
      }

      & #titulo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
      }
    }
  }

  & .content {
    display: flex;

    & .sidebar {
      width: 10%;
      display: flex;
      flex-direction: column;
      border-right: 1px solid black;

      & .titulo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        background-color: rgb(218, 218, 218);
      }

      & #menu {
        display: flex;
        flex-direction: column;
        & .option {
          width: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          padding: 10px;
          cursor: pointer;

          &:hover {
            background-color: rgb(200, 200, 200);
          }
        }

        & .selected {
          background-color: rgb(200, 200, 200);
        }
      }
    }

    & #contenido {
      display: flex;
      flex-direction: column;
      width: 90%;
      padding: 10px;
      align-items: center;
      justify-content: center;

      & .card {
        display: flex;
        border: 3px solid black;
        padding: 10px;
        gap: 10px;
        flex-direction: column;
        width: 70%;
      }

      & #formTabla {
        width: 70%;
        align-items: center;
        gap: 10px;
        border: 2px solid black;
        padding: 10px;
        display: flex;
        flex-direction: column;
      }

      & #formInforme {
        width: 70%;
        align-items: center;
        gap: 10px;
        border: 2px solid black;
        padding: 10px;
        display: flex;
        flex-direction: column;
      }
    }
  }
}

& input.calificacion {
  width: 7vw;
}
