* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    color: #e3dbdb;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 900px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}


header {
    display: flex;
    width: 900px;
    border-left: 1px solid #000;
}

.cabecera-derecha {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F8AD8F;
    width: 750px;
    height: 140px;
}

.cbd-superior {
    border: 2px solid #000;
    width: 100%;
}

.btn-preguntas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 85px;
    text-align: center;
}

.btn-pregunta {
    display: flex;
    justify-content: center;
    width: 110px;
    height: 40px;
    background-color: #FFF;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
}

.lineas-verticales {
    border-left: 2px solid #000;
    height: 40px;
}

.tit-preguntas {
    background-color: #F3D4C8;
    width: 100%;
    height: 85px;
    border: 2px dotted #000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.parrafo {
    width: 100%;
    height: min-content;
    padding: 5px;
    text-align: center;
}

main {
    display: flex;
    width: inherit;
}

.barra-lat-izquierda {
    width: 150px;
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 0.5rem;
    align-items: center;
}

.btn-opciones {
    width: 100%;
    height: 50px;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-op-principal {
    background-color: #C04716;
    color: #FFF;
}

.btn-op-secundarios {
    width: 95%;
    color: #000;
    border: 1px solid #000;
    cursor: pointer;
}

.contenedor-derecho {
    width: 750px;
    display: flex;
    justify-content: center;
}

.informacion {
    margin-top: 75px;
    height: 400px;
    width: 500px;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
    margin-bottom: 70px;
    position: relative;
    border-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.informacion img {
    position: absolute;
    top: 40%;
    left: 25%;
    transform: translate(-50%, -50%);
    z-index: 1;
    border-radius: 50%;
}

.cabecera-informacion {
    background-color: #D0DBEC;
    height: 150px;
    color: #7683EA;
    line-height: 2;
    padding-left: 20px;
    padding-top: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.footer-informacion {
    height: 220px;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
    padding-top: 20px;
    color: #5f5e5e;
}

span {
    font-size: 0.7rem;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    background-color: #F8AD8F;
    width: 100%;
    height: 50px;
}

.row {
    display: flex;
    gap: 1rem;
}

.col {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.datos-tabla {
    width: 100%;
    padding: 10px;

    & input {
        width: 100%;
    }
}

.parrafos {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 5px;
    justify-content: center;
    width: 100%;
}

.selected {
    border: 3px solid #0419d6;
}

.libro {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-inputs {
    width: 100%;

    & table {
        width: 100%;
        border-collapse: collapse;


    }
}

td {
    height: 20px;
    padding: 5px;
    width: 100px;
}